/* Импорт шрифта по ссылке */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
:root {
    --font-family: "Noto Sans", sans-serif; /* Noto Sans "Exo 2", sans-serif; "Montserrat"  "Yanone Kaffeesatz" */
    --background-gradient: linear-gradient(120deg, #f0f9ff 50%, #fff 100%);
    --text-color: #6C7486;
    --textH-color: #3F4656; 
    --white-color: #fff;
    --light-blue: #eff7fd;
    --button-bg: #0af;
    --button-hover-bg: #0099e6;
	--bgncolor: #f7f9fc;
}

body {
    font-family: var(--font-family);
    background: var(--white-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, h2, h3 {
    color: var(--textH-color);
}

h1 {
    font-size: 1em;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
p {
    font-size: 12px;
    margin-bottom: 10px;
}


.list-item {
    display: block;
    margin-bottom: 10px;
}

.list-item:before {
    content: "✔️ ";
}

.container {
    max-width: 1080px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 auto;
    color: var(--text-color);
    text-align: center; /* Выровнять текст по центру */

}

.section {
    margin-bottom: 10px;
    padding: 8px 8px;
    text-align: center;
    background-color: var(--white-color);
box-shadow: 10px 20px 20px 0px rgba(230, 233, 239, 0.5);
border-radius: 10px;
}

.slogan {
    margin-bottom: 1em;
    text-align: center;
    background-color: var(--white-color);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

.light-blue-background {
    background-color: var(--light-blue);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1em;
    text-align: left;
    color: var(--textH-color);
}

.section:nth-child(odd) {
    background-color: var(--white-color);
}

.section:nth-child(2n) {
    background-color: var(--white-color);
}

.section p {
    font-size: 12px;
    line-height: 1.6;
}

.illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.shagi {
    display: flex; /* Используем Flexbox для горизонтального расположения элементов */
    gap: 10px; /* Добавляем промежуток между элементами */
    justify-content: center;
    margin-bottom: 1em;
flex-wrap: wrap;

}

.shag-carousel {
    flex: 1; /* Элементы будут занимать равное пространство */
    background-color: var(--white-color);
    padding: 10px; /* Добавим отступы внутри элементов */
    border-radius: 10px;
    text-align: center; /* Выравнивание текста в ШАГ1-2-3 */
    box-shadow: 10px 20px 20px 0px rgba(230, 233, 239, 0.5);
    color: var(--textH-color);
   border-block-start: solid 0.1rem #f0f9ff;
    
}

.shag-carousel strong {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;

}

.shag-carousel p {
    font-size: 12px;
    line-height: 1.4;
}

.uslugi-item .price-text {
    font-size: 12px;
    margin-top: 10px;
}

.uslugi {
    overflow-x: auto;
    margin-bottom: 1em;
    width: calc(100%);
    white-space: nowrap;
    display: flex; /* Используем Flexbox для горизонтального расположения элементов */
}

.uslugi-item {
    display: flex; /* Гарантируем, что все внутренние элементы также будут располагаться горизонтально */
    gap: 20px; /* Добавим промежуток между элементами, если нужно */
    vertical-align: top;
    margin: 10px 50px 20px 40px;
    width: calc(50% - 20px);
    max-width: 100px;
    transition: transform .3s ease;
    white-space: normal;
}

.uslugi-item .tile { /* Текуст в карточки услуг*/
    text-align: center;
    padding: 5px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform .3s ease;
    min-width: 100px; /* Минимальная ширина элемента */
    color: var(--textH-color);
}

.uslugi-item .tile img {
    max-width: 100%;
    border-radius: 10px;
}

.uslugi-item .tile .price-text {
    font-size: 12px;
    font-weight: 700;
    white-space: break-spaces;

}

.skoro {
    background-color: #e3e5ed;
    border-radius: 10px;
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 6px;
    padding: 0 8px;
    position: relative;
    text-align: center;
    top: -1px;
}


.additional-info { /* Блок голубой условия и что еще нужно знать*/
    background-color: var(--light-blue);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    color: var(--textH-color);
background-image: url(https://otelshin.ru/bg-kolesa.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eff7fd;
}

.additional-info strong {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.additional-info ul {
    list-style-type: disc;
    padding: 0;
    margin-left: 20px;
    text-align: left;
}

.additional-info li {
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.contacts {
    /* background-color: var(--white-color); */
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    display: flex;
}

.button {
    display: inline-block;
    background-color: var(--button-bg);
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    flex: 1 1 100px;
}

.button:hover {
    background-color: var(--button-hover-bg);
}

.button-dogovor {
    display: inline-block;
    background-color: var(--white-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;
animation: pulse-dogovor 1.5s infinite;
}

.button-dogovor:hover {
    background-color: var(--background-gradient);
border: 2px solid var(--white-color);

}

.pulse-button  {
    animation: pulse 1.5s infinite;
    background-color: var(--button-bg);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pulse-button:hover {
    background-color: var(--button-hover-bg);
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 var(--button-hover-bg);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
}

@keyframes pulse-dogovor {
	0% {
		box-shadow: 0 0 0 0 var(--white-color);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
} 

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--white-color);
    margin: 1% auto;
    padding: 25px;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 28px;
    font-weight: 700;
}

.close:focus, .close:hover {
    color: var(--textH-color);
    text-decoration: none;
    cursor: pointer;
}

.button-close {
    display: block;
    width: 120px;
    margin: 20px auto 60px;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
	flex: 1 1 100px;
	font-size: 16px;
	padding: 10px 20px;
	text-decoration: none;
	background-color: var(--button-bg);
	animation: pulse 1.5s infinite;
}

.button-close:hover {
    background-color: var(--pulse-button-hover-bg);
}

@media (max-width: 768px) {
    .carousel {
        flex-wrap: wrap;
    }
    .shag-carousel{
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
	.uslugi-item 
	{
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

.header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 48px;
            background-color: #f8f9fa;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }
        .logo {
            height: 30px; /* Установите высоту логотипа */
        }
        .location {
            flex-grow: 1;
            text-align: center;
		font-size: 14px;
        }
        .phone-icon {
            width: 24px; /* Установите ширину иконки телефона */
            height: 24px;
            cursor: pointer;
        }
